# what is python
* python is simple and easy
* free and open source
* high level language
* developed by guido van rossum
* portable
 # branch where python is used
 * machine learning
 * web dev
 * games
 * data science

In [ ]:
#first printing program
print("hello world")   #print is a function in python
# functions purpose is to complete a task/work

# python character set
* letters A-Z,a-z
* digits 0-9
* special symbols =,-,+,#,/etc
* whitespaces -blank space,tab,carrige return,newline,formfeed
* other char- python can proccess all ASCII and unicode chars
*

In [2]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [3]:
x=5
id(x)

140733159582264

In [5]:
name="teju"
print(id(name))

2499931407776

In [13]:
#pyhton comments
# is a single line comment

# variables
* A variable is a name given to a memory location in a program
  # rules for an identifier
* can be a combination of upercase, lowercase,digits or an underscore
* an identifier can not start with a digit
* can't use special symbols
* identifiers can of any length

In [6]:
name="teju"
age=19
print(name,age)
print("my name is:",name, "and my age is",age)

teju 19
my name is: teju and my age is 19

# data types in python
* integer
* float
* string
* boolean
* none

In [11]:
# data types in python
#integer
a=20
print(type(a))
print(a)

<class 'int'>
20

In [14]:
#string
name="""
this is a miltiline string
"""
print(name)

this is a miltiline string

In [15]:
val='teju'
val1="123"
print(val)
print(val1)

teju
123

In [17]:
#boolean
a=True  # True and Flase 1st letter shd always be in capital
print(a)
print(type(a))

True
<class 'bool'>

In [19]:
#None
val=None
print(val)
print(type(val))

None
<class 'NoneType'>

In [20]:
# taking input from the user
name=input()

 tejaswini

In [22]:
print(name)
print(type(name))

tejaswini
<class 'str'>

In [23]:
#taking num as input
x=input()

 43536

In [24]:
print(x)
print(type(x))

43536
<class 'str'>

In [25]:
#taking num as input     #if u want the val as in we sg
x=input()

 45

In [26]:
print(x)
print(type(x))

45
<class 'str'>

In [30]:
#dta type conversion
y=423
print(y)

423

In [31]:
x=float(y)

In [32]:
print(y)
print(type(y))

423
<class 'int'>

In [35]:
 # if x=("1.5") we can not convert it into int directly from string 
#as its a float value. 1st we need to convert it to float and then to int
x=("1.5")
print(x)
print(type(x))

1.5
<class 'str'>

In [38]:
y=float(x)
print(y)
print(type(y))

1.5
<class 'float'>

In [42]:
int(y)
print(int(y))
print(type(int(y)))

1
<class 'int'>

In [2]:
#printing multiple values using print function 
print("rahul","rohit","romi",23,24,25,)

rahul rohit romi 23 24 25

In [4]:
print("rahul",24)
print("rohit",25)

rahul 24
rohit 25

In [5]:
#changing from by default to user value
#sep is used to separate the output using any characters
print("rahul","rohit","romi",23,24,25)

rahul rohit romi 23 24 25

In [6]:
print("rahul","rohit","romi",23,24,25,sep=",")

rahul,rohit,romi,23,24,25

In [7]:
print("rahul","rohit","romi",23,24,25,sep="-->")

rahul-->rohit-->romi-->23-->24-->25

In [8]:
print("rahul","rohit","romi",23,24,25,sep="\n")

rahul
rohit
romi
23
24
25

In [16]:
#changing default value of separator
# end parameter is used with the print() function to control what is
#printed at the end of the output, instead of the default newline (\n).
print("rahul",28,end="--> ")
print("anjali",26)
print("rohit",25,end="-->")
print("pooja",22)

rahul 28--> anjali 26
rohit 25-->pooja 22

In [18]:
print("rahul",28,sep="\n",end="--> ")
print("anjali",26)
print("rohit",25,sep="\n",end="-->")
print("pooja",22)

rahul
28--> anjali 26
rohit
25-->pooja 22

In [19]:
print("hello","rahul",end=" ")
print("r u exited")

hello rahul r u exited

In [20]:
# module_5:python operators
#an operator in a programming language is a symbol that performs 
#specific mathematical,logical operation & produces final rasult

#X+Y ( here x,y are operends, + is an operator and x+y is an expression

In [21]:
# arithmetic operators
# addition,sub,mul,div,mod(%),floor div(//),to the power(**)
# div operator always returs a float value

In [22]:
a=10
b=5

In [23]:
a+b

15

In [24]:
a-b

5

In [25]:
a*b

50

In [27]:
a/b

2.0

In [31]:
a//b #doesn't yield a float value

2

In [32]:
a**b

100000

In [48]:
#string concatination
first="peddireddy "
last="tejaswini "

In [49]:
print(first + last)

peddireddy tejaswini

In [50]:
print("1"+"1")

11

In [53]:
#string multiplication
last *3
# doesnt work for str to str multiplication
#last*last

'tejaswini tejaswini tejaswini '

In [54]:
# modulas %: gives the remainder
print(a,b)

10 5

In [55]:
a%b

0

In [58]:
print(5%3)

2

In [60]:
# floor div //, results floored to nearest smaller integer
print(a,b)

10 5

In [61]:
a//b

2

In [62]:
5//3

1

In [63]:
# this operaators results the smalles integer on the 
#number line which loes on the left side
print(-3//2)

-2

In [64]:
#power operator
print(5**3)

125

In [65]:
3**2

9

# comparision operators , results boolean values

== true if equal to
!= true if not equal to
< lessthan, >greater than
<= lessthan equal to,>= greater than or equal to

In [69]:
a=6
b=4
print(a==b)
print(a!=b)
print(a>b)
print(a<b)

False
True
True
False


# Assignment operators
=,
-=,
+=,
/=,
*=,

In [79]:
a=5
a

5

In [80]:

a=a*3
a

15

In [85]:
# a =a+3 is same as a+=3
a=3
a+=3
a

6

In [86]:
a-=3
a

3

In [87]:
a*=3
a

9

In [88]:
a/=3
a

3.0


# logical operators
* and
* or
* not


works on bool values and return boolean values

In [89]:
2>3 and 3>4

False

In [93]:
2>3 or 6>4

True

In [96]:
not 3>4

True

In [95]:
not True

False


# special operators
* in (membership )
* is

In [101]:
#  in operatoe tells u if a obj is a part of another obj
name='chaithu teju'
'r' in name

False

In [102]:
"c" in name

True

In [103]:
"teju" in name

True

In [108]:
# is operator tells u if both the objs are at same memory location
a=5
b=5
print(id(a), id(b), sep=" , ")

140733078907448 , 140733078907448

In [109]:
a is b

True

In [110]:
a=345
b=346
print(id(a), id(b), sep=" , ")

1895969734288 , 1895969732976

In [118]:
a is b

False

In [119]:
# MODULE 6---CONTROL STATEMENTS

# sintax for if else

In [126]:
age=int(input())
if age>18:
     print("you r eligible")
     print("drive slow")
else:
    
    print("no")

 21

you r eligible
drive slow

In [141]:
# nested if -else
age=int(input())
if age>18:
   
   if age>65:
     print("age crossed not eligible")
   else:
      print("you are eligible")
      print("drive slow")
else:
    
    print("wait till u turn 18")

 456

age crossed not eligible

In [134]:
#if,elif,else
#elif condition is used to include multiple conditional 
#expressions after the if condition

In [140]:
n=int(input())
if (n>0):
    print(" natural numbers")
    print("positive")
elif (n==0):
    print("whole number")
else:
    print("integer")
    print("negative")

 -22

integer
negative

In [162]:
# FIND MAXIMUM IN A LIST
marks=[90,30,100,50,80,95]
max_i=marks[0]
for i in marks:
    if i>max_i:
        max_i=i

print( max_i)

100

In [163]:
(max(marks))

100

In [169]:
# GRADING SYSTEM
marks = int(input("Enter your marks: "))

if marks >= 60 and marks < 70:
    print("Grade D")
elif marks >= 70 and marks < 80:
    print("Grade C")
elif marks >= 80 and marks < 90:
    print("Grade B")
elif marks >= 90:
    print("Grade A")
else:
    print("Fail")

Enter your marks:  33

Fail


module 7
# LOOPS
* for loop
* while loop

# while loop
while--> condition-->if true while loop body--> if false exit the loop

*initialize the value

*loop condition

*updating value

In [2]:
# initialize
i=1
while(i<=5):
   print("you are the best")
   i += 1

you are the best
you are the best
you are the best
you are the best
you are the best

In [6]:
#print all numbers from 1to 10
i=1
while(i<=10):
    print(i, end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [13]:
#print all even numbers from 0 to 10
i=0
num=[]
while i<=10:
    if i%2==0:
        num.append(i)
    i=i+1
print(num)

[0, 2, 4, 6, 8, 10]

In [3]:
#print all even numbers from 0 to 10
i=0
while i<=10:
    if i%2==0:
        print(i,end=" ")
    i=i+1

0 2 4 6 8 10

In [4]:
#print sum of all numbers from 1 to 10
i=0
sum=0
while i<=10:
    sum=sum+i
    i=i+1
print(sum)

55

# range function
* allows user to fenerate series of numbers
* it is itereble as well
* in range function start is included and end is excluded [start,end)

In [6]:
#range(start,end,jump)
#range(n),== renge(n)
range(5)

range(0, 5)

In [7]:
list(range(5))

[0, 1, 2, 3, 4]

In [15]:
print(list(range(1,5))) #by default jump is 1
print(list(range(1,10,2))) #start is included and end is excluded

[1, 2, 3, 4]
[1, 3, 5, 7, 9]

In [16]:
print(list(range(10,1,1)))#emptylist as there in no num
                               #in range after 10
print(list(range(10,1,-1)))

[]
[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [17]:
print(list(range(-1,10)))
print(list(range(10,0,-2)))

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 8, 6, 4, 2]


#iterator iterable and iteration

#for loop

In [3]:
 #print all num from 1 to 10
#i=0
for i in range(0,11):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [9]:
# print multiplication table of 5
for i in range(0,11):
    print("5*",i, "=" ,i*5)

5* 0 = 0
5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [12]:
# print multiplication table of n
n=int(input())
for i in range(1,11):
    print(n,"*",i,"=" ,n*i)

 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [32]:
# printing pattern
n=int(input())
for i in range (0,n):
    #for j in range(0,n-1):
        print(n* " * ")

 5

 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

In [30]:

for i in range (4):
      print("*",end=" ")
print()
for i in range (4):
      print("*",end=" ")
print()
for i in range (4):
      print("*",end=" ")
print()

* * * *
* * * *
* * * *

In [43]:
for i in range (4): #outer loop= no of rows
    for j in range(10): #inner loop=no of columns
        print("#",end=" ")
    print()

# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #

In [48]:
n=int(input())
for i in range(1,n+1):
    for j in range(i):
        print("#",end=" ")
    print()

 3

#
# #
# # #

# break continue and passs
* these statements are used to alter the flow of a program
* break: breaks the flow of program once this condition is hit
* continue: its skips the paticular iteration
* pass:to avoid syntax error

In [50]:
for i in range(1,10):
    pass

In [54]:
 #continie
for i in range(1,10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [56]:
#break
for i in range(1,10):
    if i%5==0:
        break
    print(i)

1
2
3
4

In [2]:
 i=1
while i<10:
   if i==8:
       break
   print(i)
   i=i+1

1
2
3
4
5
6
7

In [3]:
for x in range(10):
       if x == 6:
           print(x,end="")
print(x)

69

In [2]:
for i in range(4):
 if i==2:
    print(i)
 i=10

2

In [5]:
while i < 20:
  print(i)
  i += 1

8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
while i < 20:
  print(i)
  i += 1

# strings
* sequence of character
* char can be
   * alphabets (caps or small)
   * digits (0-9)
   * white spces
   * special characters
* they can be defined by using single,double or triple quotes

ASCII values a to z(97 - 122)
             A to Z (65 -90)

In [3]:
s1='tejaswini'
type(s1)

str

In [5]:
# ORD AND CHR
# ord to find the values associated with the character
#Converts a character into its Unicode integer representation.
ord('a')

97

In [10]:
ord('A')

65

In [ ]:
ord(

In [8]:
#chr():Converts an integer  into its corresponding character.
chr(520)

'Ȉ'

In [9]:
chr(2345)

'ऩ'

In [11]:
#indexing in a string
name='tejaswini'    #indexing starts 0

name[0]

't'

In [12]:
name[-1]

'i'

In [13]:
len(name) #r6eturns the total length of the string

9

In [15]:
s=len(name)
print(name[-s])
print(s)

t
9

In [17]:
# string slicing
name[0:4]   #name=tejaswini

'teja'

In [3]:
a='tejaswini'
a[0:4:2]

'tj'

In [19]:
name[2:6]

'jasw'

In [21]:
 # name[start:end:jump]
print(name[::2])
print(name[::])

tjsii
tejaswini

In [27]:
#negative indexing
name[-1:0]

''

In [28]:
name[-1:0:-1]

'iniwsaje'

In [29]:
name[::-1]

'iniwsajet'

In [32]:
name[0:-1:-1]

''

In [37]:
name[-1:-(len(name)+1):-1]

'iniwsajet'

#  String Metods
* capitalize
* title
* upper
* lower
* find
* count
* index
* replace
* split
* islower
* isupper
* isnumeric
* isalpha

In [41]:
book='can we be strangers again '

In [42]:
book.capitalize()

'Can we be strangers again '

In [43]:
book.title()

'Can We Be Strangers Again '

In [44]:
book.upper()

'CAN WE BE STRANGERS AGAIN '

In [45]:
book.lower()

'can we be strangers again '

In [46]:
book.find?

Docstring:
S.find(sub[, start[, end]]) -> int

Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Return -1 on failure.
Type:      builtin_function_or_method

In [49]:
book.find('w')

4

In [51]:
book.count('a')

4

In [52]:
book.index('a')

1

In [53]:
book.replace('c','C')

'Can we be strangers again '

In [54]:
book.split()

['can', 'we', 'be', 'strangers', 'again']

In [56]:
book.split('a')

['c', 'n we be str', 'ngers ', 'g', 'in ']

In [57]:
book.isupper()

False

In [58]:
book.islower()

True

In [61]:
book.isnumeric()

False

In [62]:
#.isalpha() checks if all characters in the string are alphabetic 
#(A–Z or a–z) and there are no spaces, digits, or symbols.
book.isalpha()

False

In [64]:
name='teju'
name.isalpha()

True

In [65]:
# STRING FORMATTING
name=input()
age=input()
print("my name is",name,"and my age is",age)

 tejaswini
 19

my name is tejaswini and my age is 19

In [67]:
name=input()
age=input()
print("my name is {}, and my age is {}.".format(name,age))

 teju
 19

my name is teju, and my age is 19.

In [68]:
name=input()
age=input()
print("my name is {name}, and my age is {age}.")

 teju
 19

my name is {name}, and my age is {age}.

In [69]:
name=input()    #adv level of formatting avove python 3.6 version
age=input()
print(f"my name is {name}, and my age is {age}.")

 teju
 19

my name is teju, and my age is 19.

In [71]:
#STRING CONCATINATION
# ADDS STRING TOGETHER

first=input()
last=input()
print(first+last)

 teju
 reddy

tejureddy

In [72]:
'2'+'2'+'2'

'222'

In [79]:
#print all vowels of a given string
text="the quick brown fox jumps over the lazy dog"
for i in text:
    if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
        print(i,end=",")
    else:
        continue

e,u,i,o,o,u,o,e,e,a,o,

# challange: find if a string is a palindrome
* a strign is said to be palindrome if the reverse of the string is the same as string
* for example, "radar" is a palindrome

In [84]:
string=input()
if string[:] == string[::-1]:
    print(f"the given string {string} is a palindrome")
else:
    print(f"the given string {string} is not a palindrome")

 malayalam

the given string malayalam is a palindrome

In [86]:
Name = 'Rahul'
print(Name[::-1])

luhaR

In [87]:
import string

def set_operation(sent1, sent2):
    ''' 
    input: sent1, sent2 - two sentences taken as inputs
    output: return the sum of the total number of unique words from both sentences.
    '''
    
    # Helper function to clean the sentence and split into words
    def get_words(sentence):
        # Convert sentence to lowercase and remove punctuation
        sentence = sentence.lower().translate(str.maketrans('', '', string.punctuation))
        words = sentence.split()
        return words
    
    # Get words from both sentences
    words1 = get_words(sent1)
    words2 = get_words(sent2)

    # Create a set from words in each sentence to count unique words
    unique_count1 = len(set(words1))  # set removes duplicates from words1
    unique_count2 = len(set(words2))  # set removes duplicates from words2

    # Return the sum of the unique word counts from both sentences
    return unique_count1 + unique_count2

# data Structures
* a data structure is a specialized format for organizing,processing,retriving and storing data
* list
* tuple
* set
* dictionary

# list
* ordered collection of data  list[]
* list are mutable type of data structures
* it can contain multiple type of data
* lists are changable (mutable)
* lists are iterable

In [3]:
# creating a list
l=list()
type(l)

list

In [4]:
l1=[1,3,4,5,]
len(l1)

4

In [5]:
#accessing
l1[-len(l1)]

1

In [7]:
l1[-1]

5

In [8]:
#mutability
l1

[1, 3, 4, 5]

In [9]:
l1[0]=9

In [10]:
l1

[9, 3, 4, 5]

In [12]:
# iterability
for i in  l1:
   print(i,end=" ")

9 3 4 5

In [14]:
#list sclictin
l=[1,2,3,4,5,6,7]
l

[1, 2, 3, 4, 5, 6, 7]

In [15]:
l[0:]

[1, 2, 3, 4, 5, 6, 7]

In [16]:
l[::-1]

[7, 6, 5, 4, 3, 2, 1]

# list inbuilt methods
* count
* index
* pop
* remove
* sort
* insert
* append
* extend

In [17]:
budget=[100,200,300,400,100]
budget.count(100)

2

In [19]:
#index
budget.index(100)

0

In [20]:
#pop removes the last element
budget.pop()

100

In [21]:
budget

[100, 200, 300, 400]

In [22]:
# remove
budget.remove(200)

In [23]:
budget

[100, 300, 400]

In [26]:
# sort
budget1=[100,233,200,100,150]
budget1.sort()
budget1

[100, 100, 150, 200, 233]

In [ ]:
# insert  adds at a specific position
 a=("1")